@mixin myriad($weight: regular) {
  @if ($weight == thin) {
    font-family: 'MyriadSetProThin', sans-serif;
  }

  @if ($weight == regular) {
    font-family: 'MyriadSetProText', sans-serif;
  }

  @if ($weight == semibold) {
    font-family: 'MyriadSetProSemiBold', sans-serif;
  }
}