/*==========================================================================
  myriad_set_pro
==========================================================================*/

@font-face {
  font-family: 'MyriadSetProSemiBold';
  src: url('../fonts/MyriadSetPro/MyriadSetProSemiBold.eot') format('eot'),
       url('../fonts/MyriadSetPro/MyriadSetProSemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadSetProText';
  src: url('../fonts/MyriadSetPro/MyriadSetProText.eot') format('eot'),
       url('../fonts/MyriadSetPro/MyriadSetProText.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadSetProThin';
  src: url('../fonts/MyriadSetPro/MyriadSetProThin.eot') format('eot'),
       url('../fonts/MyriadSetPro/MyriadSetProThin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}