/*==========================================================================
  Typography
==========================================================================*/

$body-font: "MyriadSetProText", sans-serif;

html {
  font-size: 100.01%;
}

body {
  font: $font-size-base + px/1.41 $body-font;
  color: $text-color-base;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  @include myriad(thin);
}

a {
  outline: none !important;
}