$font-size-base: 16;

$text-color-base: #333;
$text-color-light: #fff;


$z-index-max: 9000;

$theme-color: #4ca1ff;
$accent-color: orange;

$fb-color: #4f689e;
$tw-color: #74c7d5;
$gp-color: #df5c64;
$in-color: #3e61af;