/*==========================================================================
  btn
==========================================================================*/

.btn {
  border-radius: 0;
  transition: .25s;
}

.btn-primary {
  border-color: $theme-color;
  background-color: $theme-color;

  &:hover,
  &:focus {
    border-color: lighten($theme-color, 5%);
    background-color: lighten($theme-color, 5%);
  }

  &:active,
  &:active:hover {
    border-color: darken($theme-color, 5%);
    background-color: darken($theme-color, 5%);
  }
}