/*==========================================================================
  btn
==========================================================================*/

.btn {
  border-radius: 0;
  transition: .25s;
}

.btn-primary {
  border-color: $theme-color;
  background-color: $theme-color;
}