/*==========================================================================
  catalog-title
==========================================================================*/

#content {
  h3 {
    margin-bottom: 40px;
    font-size: 28px;
    @include myriad(thin);
    text-align: center;
  }

  p {
    img {
      max-width: 100%;
    }
  }
}