/*==========================================================================
  product-to-cart
==========================================================================*/

.product-to-cart__btns {
  padding-top: 10px;
}

.product-to-cart__label {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
}