/*==========================================================================
  product-popup
==========================================================================*/

.product-popup {
  position: relative;
  max-width: 320px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
}