/*==========================================================================
  product-layout
==========================================================================*/

.product-layout {
  > .product-thumb {
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    transition: box-shadow .25s;

    &:hover {
      box-shadow: inset 0 0 0 1px #ededed;
    }

    .image {
      padding: 0 25px;
      margin-bottom: 25px;

      img {
        margin: 0 auto;
      }
    }
  }

  .caption {
    padding: 0 25px;
    margin-bottom: 10px;

    h4 {
      @include myriad(thin);

      a {
        color: $text-color-base;
      }
    }

    p,
    .price-tax {
      display: none;
    }

    .rating {
      display: none;
    }

    .price {
      display: block;
      font-size: 18px;
      @include myriad(thin);

      .price-old {
        font-size: 15px;
        text-decoration: line-through;
      }
    }
  }

  .rating {
    display: block;
  }

  .button-group {
    button,
    .button {
      display: block;
      width: 100%;
      padding: 8px;
      border: none;
      font-size: 18px;
      outline: none;
      transition: all .25s;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &.toclick {
        padding: 9px 8px;
        font-size: 14px;
        color: #777;
        background-color: #f5f1f3;

        &:hover,
        &:focus {
          background-color: darken(#f5f1f3, 3%);
        }
      }
    }

    button {
      background-color: $theme-color;
      color: #fff;

      .fa {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: lighten($theme-color, 5%);
      }

      &:active {
        background-color: darken($theme-color, 5%);
      }
    }

    button[data-original-title="В закладки"],
    button[data-original-title="В сравнение"] {
      display: none;
    }
  }
}