/*==========================================================================
  main-carousel
==========================================================================*/

.owl-wrapper-outer {
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
}

.owl-carousel .owl-buttons div i {
  opacity: .4;
}