/*==========================================================================
  top-menu
==========================================================================*/

.top-menu {
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;

  [class*="col-"]{
    padding-left: 0;

    @media only screen and (max-width: 768px) {
      padding-left: 15px;
    }
  }

  a {
    color: $text-color-base;
  }

  .navbar {
    margin-bottom: 0;
    font-size: 14px;

    .toggle-top-text {
      @include inline-block;
      padding-top: 19px;
      @include myriad(semibold);
      text-transform: uppercase;
    }

    .navbar-toggle {
      margin-right: 0;
    }

    .navbar-collapse {
      padding-left: 0;
    }

    .navbar-nav {
      > li > a {
        padding-top: 14px;
        padding-bottom: 14px;

        &:focus,
        &:hover {
          text-decoration: underline;
          background-color: transparent;
        }
      }
    }
  }

  .top-menu__cart-wrapper {
    @media only screen and (max-width: 768px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  #cart {
    button {
      padding-top: 14px;
      padding-bottom: 15px;
      border: 0 none;
      border-radius: 0;
      font-size: 16px;
      @include myriad(thin);
      color: #fff;
      text-align: left;
      background-color: $accent-color-2;
    }
  }
}

